.btn{
    background-color: cadetblue;
    border-color: cadetblue;
}
.btn:hover{
    color: cadetblue;
    background-color: white;
}
#registerbtn{
    color: cadetblue;
    background-color: white;
}
#registerbtn:hover{
    color: white;
    background-color: cadetblue;
}
